Add support for cracking DHCP authentication

See,

* https://github.com/kholia/rfc-3118

* https://github.com/kholia/my-pcaps/tree/master/DHCPv6

* https://roy.marples.name/projects/dhcpcd

* https://github.com/kholia/dhcpcd/blob/master/src/auth.c

* https://sourceforge.net/p/wide-dhcpv6/git/ci/master/tree/auth.c

* https://wiki.wireshark.org/SampleCaptures?action=AttachFile&do=get&target=dhcp-auth.pcap.gz

* https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1025 (dhcp packet crashes wireshark)

Note:

* dhcpcd-6 won't work with wide auth, something is broken (confirmed with package author)

* dhcpcd-7.0.5b works great with wide.

For DHCPv4, the following code is important,

https://github.com/kholia/dhcpcd/blob/master/src/auth.c#L335

```
	/* RFC3318, section 5.2 - zero giaddr and hops */
	if (mp == 4) {
		/* Assert the bootp structure is correct size. */
		__CTASSERT(sizeof(struct bootp) == 300);

		*(mm + offsetof(struct bootp, hops)) = '\0';
		memset(mm + offsetof(struct bootp, giaddr), 0, 4);
	}
```

Can we do this in our Lua hash extractor without too much pain?

All the work required has been done and merged -> closing the issue.